<div class="flex-container upload-container">
  <h2>Recognition from a file or photo</h2>
  <div class="flex-container flex-row">
    <p-fileUpload
      mode="basic"
      chooseLabel="Upload file"
      chooseIcon="pi pi-upload"
      name="file"
      customUpload="true"
      url="#"
      (uploadHandler)="onUpload($event)"
      accept="image/*"
      maxFileSize="1000000"
      [auto]="true"
      class="action-button"
    />
    <p-button
      icon="pi pi-camera"
      label="{{ cameraPreview ? 'Disable camera' : 'Enable camera' }}"
      class="action-button"
      (onClick)="openCameraPreview($event)"
    ></p-button>
  </div>
  <div class="flex-container" *ngIf="cameraPreview">
    <app-camera (pictureTaken)="madePhoto($event)"/>
  </div>

  <div class="flex-container" *ngIf="breed">
    <p-image class="dog-image" [src]="imageUrl"></p-image>
    Recognized breed: <b>{{ breed }}</b>
    <p-card header="wikipedia info">{{ wikiInfo }}</p-card>
  </div>
</div>
