<div class="flex-container">
  <h2>Breeds supported by the model</h2>
  <input
    type="text"
    pInputText
    placeholder="Filter by name"
    (input)="applyFilter($event)"
    class="filter-input"
  />
  <p-table class="breeds-table" [value]="filteredBreeds">
    <ng-template pTemplate="header">
      <tr>
        <th>Breed</th>
        <th>Image</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.name }}</td>
        <td>
          <img [src]="row.img" *ngIf="row.img" alt="row.name" width="100" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
