<div class="flex-container">
  <h1>Dog breed recognizer</h1>

  <p>
    To recognise your dog's breed, submit a photo in any format and size. The
    model was trained on
    <a href="http://vision.stanford.edu/aditya86/ImageNetDogs/"
      >Standford Dogs Dataset</a
    >. You can check current list of breeds that the model recognises in
    <a [routerLink]="['/breeds']">breeds page</a>.
  </p>

  <p><b>Info:</b> Your photo won't be stored.</p>

  <p-button label="Go to recognition!" [routerLink]="['/recognition']" />
</div>
